*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 160px;
    width: auto;
    background: grey;
}

#wrapper
{
    width: 100%;
    margin: auto;
}

.alto-header{
    background-color: #F5F8FA;
    height: 80px;
    width: auto;
}

.basso-header{
    background: white;
    height: 80px;
    width: auto;
}

#top{
    background-color: #F5F8FA;
    height: 80px;
    padding: 12px 0;
    margin-left: 150px;
    margin-right: 150px;
}

.top-destra{
    margin-top: 5px;
    height: 40px;
    float: right;
}

.top-sinistra{
    height: 40px;
    float: left;
    margin-top: 15px;
}

.link-top-sinistra{
    color: #33475B;
    font-size: 16px;
    font-family:'Source Code Pro', monospace;
    text-decoration: none;
    padding: 20px;

}

.link-top-sinistra.border{
    border-right: 2px solid lightgrey;
}

.button{
    font-size: 12px;
    font-family:'Source Code Pro', monospace;
    padding: 10px;
    border-radius: 5%;
    border: 1px solid #FF7A59;
}

.button.login{
    background-color: white;
}

.button.gethubspot{
    background-color: #FF7A59;
}
