*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: auto;
    background: grey;
}

#wrapper
{
    width: 100%;
    margin: auto;
}

.alto-header{
    background-color: #F5F8FA;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.basso-header{
    border-top: 1px solid #CBD6E2;
    background: white;
    width: 100%;
    padding-top: 65px;
}

.container{
    padding: 12px 80px;
    margin-left: 160px;
    margin-right: 160px;
}

.container::after
{
    content: '';
    display: table;
    clear: both;
}

#top{
    background-color: #F5F8FA;
}

#bot{
    background-color: white;
}

.top-destra{
    margin-top: 5px;
    float: right;
}

.top-sinistra{
    float: left;
    margin-top: 15px;
}

.link-top-sinistra{
    color: #33475B;
    font-size: 16px;
    font-family:'Source Code Pro', monospace;
    text-decoration: none;
    padding: 20px;

}

.link-top-sinistra.border{
    border-right: 1px solid #CBD6E2;
}

.button{
    font-size: 12px;
    font-family:'Source Code Pro', monospace;
    padding: 10px;
    border-radius: 5%;
    border: 1px solid #FF7A59;
}

.button:hover{
    cursor: pointer;
}

.button.login{
    background-color: white;
    color: red;
}

.button.login:hover{
    background-color: rgba(255, 122, 89, 0.12);
}

.button.gethubspot{
    background-color: #FF7A59;
    color: white;
}

.button.gethubspot.main{
    font-size: 17px;
    width: 200px;
    height: 70px;
}

.bot-sinistra{
    height: 40px;
    float: left;
    margin-top: 15px;
}

#logo{
    height: 100%;
}

.bot-destra{
    float: right;
    margin:auto;
    line-height: 4;
}

.menu{
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-style: solid;
    color: #33475B;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    padding: 15px;
}

section{
    width: auto;
    background-color: #425B76;
}

.paragrafo-section{
    font-family: 'Source Code Pro', monospace;
    color: white;
    line-height: 2.2;
}

.paragrafo-section.link{
    text-decoration: underline;
    text-decoration-style: solid;
    font-size: 16px;
}

main{
    height: 700px;

}
.background-main{
    padding-top: 65px;
    height: 100%;
    background-image: url('https://cdn2.hubspot.net/hubfs/53/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg');
    background-repeat: no-repeat;
}

.corpo-main{
    font-family: 'Source Code Pro', monospace;
    width: 450px;
    float: left;
    text-align: left;
    color: #33475B;
}

.corpo-main h1{
    padding: 15px 0;
    text-decoration-style: solid;
    font-size: 46px;
}

.corpo-main p{
    padding-bottom: 15px;
}

.corpo-main span{
    display: block;
    font-size: 14px;
    padding: 30px 200px 30px 0;
}

.home{
    padding-top: 40px;
    background-color: #F5F8FA;
}

.descrizione{
    font-family: 'Source Code Pro', monospace;
    height: 475px;
    width: 345px;
    float: left;
    padding-right: 25px;
    padding-bottom: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.descrizione h2{
    color: #33475B;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 28px;
    letter-spacing: -1.2px;
}

.descrizione p{
    color: #33475B;
}

.prodotti{
    font-family: 'Source Code Pro', monospace;
    background-color: white;
    height: 475px;
    width: 345px;
    float: left;
    padding-right: 25px;
    padding-bottom: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.prodotti:hover{
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    transform: scale(1.014);
}
